<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head') %>

	<body>
		<%- include('partials/header') %>
		<section class="categories">
			<a href="/suspension" class="category-link">
				<div class="category">
					<i class="ph-fill ph-gear"></i>
					<span>Suspension</span>
				</div>
			</a>

			<a href="/electrical" class="category-link">
				<div class="category">
					<i class="ph-fill ph-car-battery"></i>
					<span>Electrical Systems</span>
				</div>
			</a>

			<a href="/brakes" class="category-link">
				<div class="category">
					<i class="ph-fill ph-tire"></i>
					<span>Brakes</span>
				</div>
			</a>

			<a href="/interior" class="category-link">
				<div class="category">
					<i class="ph-fill ph-seat"></i>
					<span>Interior Accessories</span>
				</div>
			</a>

			<a href="/engine" class="category-link">
				<div class="category">
					<i class="ph-fill ph-engine"></i>
					<span>Engine Components</span>
				</div>
			</a>
		</section>
		<input class="searchbar" placeholder="Search for parts..." name="parts" />
		<section class="info">
			<div class="category">
				<i class="ph-fill ph-puzzle-piece"></i>
				<span>Total Parts: <%= totalParts %></span>
			</div>
			<div class="category">
				<i class="ph-fill ph-car"></i>
				<span>Car Models: <%= totalCarModels %> </span>
			</div>
			<div class="category">
				<i class="ph-fill ph-house-line"></i>
				<span>Suppliers: <%= totalSuppliers %></span>
			</div>
			<div class="category">
				<i class="ph-fill ph-warning"></i>
				<span>Total Stock: <%= totalStock %> </span>
			</div>
		</section>
		<section class="databases">
			<a href="/parts" class="category-link"> <div>View all parts</div></a>

			<a href="/logs" class="category-link"> <div>View Inventory logs</div></a>

			<a href="/addPart" class="category-link"> <div>Add new Part</div></a>

			<a href="/carModels" class="category-link"><div>View Car Models</div></a>
		</section>
	</body>
</html>
