<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head') %>
	<body>
		<%- include('partials/header') %>
		<h1><%= title %></h1>

		<table border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>Part_ID</th>
					<th>Action</th>
					<th>Quantity</th>
					<th>Timestamp</th>
				</tr>
			</thead>
			<tbody>
				<% logs.forEach(function(log) { %>
				<tr>
					<td><%= log.id %></td>

					<td><%= log.part_id %></td>
					<td><%= log.action %></td>
					<td><%= log.quantity %></td>
					<td><%= log.log_time %></td>
				</tr>
				<% }); %>
			</tbody>
		</table>
	</body>
</html>
